@import "src/styles/variables";

.play-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    display: flex;
    gap: 15px;
    align-items: center;
    color: $white;
    font-size: 20px;
    font-weight: 600;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.play-list__add {
  color: $white;
  background-color: $cinemo-black-light;
  box-shadow: none;
  border: 0px none;
  font-size: 24px;
  cursor: pointer;
}
